[Unit]
Description="Run dedyn curler every 5 minutes"

[Timer]
OnUnitActiveSec=5min
Unit=dedyn_curler@%i.service

[Install]
WantedBy=multi-user.target
